<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.dnd.wizards.com%2Fstyles%2Fnews_banner_header%2Fpublic%2Fimages%2Fhead-banner%2Fbg-heroes_0.jpg&f=1&nofb=1);">
  <div class="container">
    <h1>A Dungeons <i class="fab fa-d-and-d"></i> Dragons site for <strong>everyone</strong> but especially <strong>people in Japan</strong>!</h1>
    <p>Find your Dugeons <i class="fab fa-d-and-d"></i> Dragons merchandise, a game, an event here in Japan.</p>
    <a class="btn btn-flat" href="#">Login</a>
  </div>
</div>
