<div class="post">
  <div class="post-preview">
    <a class="post-preview-link" href="dndbeyond.com" style="background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.dnd.wizards.com%2Fstyles%2Fstory_banner%2Fpublic%2Fimages%2Fhead-banner%2Fhero_dmgscreen_0.jpg&f=1&nofb=1)"></a>
  </div>
  <div class="post-content">
    <div class="post-content-title">
      <h1>25% Off All Books in Our Marketplace!</h1>
    </div>
    <div class="post-content-date">
      <div class="post-content-date-metadata">
        <span>4 days ago</span>
        <span>DDJ Staff</span>
      </div>
    </div>
    <div class="post-content-description">
      <p>You won't need a discount code for this spring sale! The discount has already been applied in-store on all sourcebooks and adventure books. Preorders made for Van Richten's Guide to Ravenloft during this sale will benefit from this offer. But act fast: This sale ends after May 2nd! </p>
    </div>
    <div class="post-content-links">
      <a href="dndbeyond.com">Read More</a>
    </div>
  </div>
</div>
